
body{
  font-family: "Segoe UI",Arial,sans-serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container{
  width: 100% !important;
}
.nav-header{
  padding: 0 !important;
}
.modal-dialog{
  margin: 150px auto !important;
}
.header{
  /*position: absolute;*/
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  margin-bottom: 0px;
  width: 100%;
  margin: 0 !important;
 background: #000;
}
.headershow{
  display: inline;
}
.navigation{
  font-weight: bold;
  padding: 0% 4% 0% 6% !important;
}
.nav-brand img{
  height: 75px;
  position: absolute;
  margin-top:10px;
}
.navbar-collapse.collapse{
  margin: 0px 17px 0px 0px;
}
.navbar-nav > li > a{
  line-height: 60px !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.075)!important;
  transition:all ease-in ease-out 0.3s !important;
  -webkit-transition:all ease-in 0.3s;
  -moz-transition:all ease-in ease-out 0.3s;
  -o-transition:all ease-in 0.3s;
}
.nav > li > a:hover{
  color: #e20a17 !important;
  background: inherit  !important;
}
.nav > li > a login:hover{
  color: #e20a17 !important;
  background: #fff !important;
  transition:all ease-in ease-out 0.3s !important;
  -webkit-transition:all ease-in 0.3s;
  -moz-transition:all ease-in ease-out 0.3s;
  -o-transition:all ease-in 0.3s;
}
.nav > li > a:focus {
  color: #e20a17 !important;
  text-shadow: 0 1px 0 #2d2d2d !important;
  background-color: inherit !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: inherit !important;
  text-shadow: 0 1px 0 #2d2d2d !important;
  border-color: #E20A17 !important;
}
.icon-bar{
  background-color: #fff !important;
}
.navbar-nav > li > .dropdown-menu{
  margin-left: -1px;
}
.dropdown-menu > li > a{
  padding:12px 20px !important;
  color: #000 !important;
}
.dropdown-menu > li > a:hover{
  color: #333 !important;
}
.dropdown-menu {
  padding: 8px 0px 5px 0px !important;
}
.glyphicon-chevron-left{
  font-size: 2.1em !important;
}
.glyphicon-chevron-right{
  font-size: 2.1em !important;
}
.carousel-control.left{
  background: none !important;
}
.carousel-control.right{
  background: none !important;
}
.carousel-indicators li{
  background: none !important;

}
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}
.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}
.navbar-collapse{
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  width: 100%;
  float: right !important; 
}
.navbar-brand{
  float: none !important; 
}

.fixed {
    background: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: auto;
    transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease-in 0.5s;
    height: auto;
}

.carousel-caption {
  top: 30%;
  
}

.carousel-caption h2{
  font-size: 2.5em;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: none;
}
.carousel-caption h2 span{
  border:2px solid #fff;
  padding: 2% 2% 2% 2%;
  border-radius: 3px;
  font-weight: bolder;
  background:rgba(0, 0, 0, 0.62);
}

.carousel-caption p{
  font-kerning: smooth;
  color:color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.2em;
}

.carousel-control{
  opacity: 1 !important;
}

.carousel-control .glyphicon-chevron-left {
  width: 30% !important;
  height: 10% !important;
  background: #e20a17;
  padding: 4%;
  border-radius: 3px;
  left: 10% !important;
}

.carousel-control .glyphicon-chevron-right {
  width: 30% !important;
  height: 10% !important;
  background: #e20a17;
  padding: 4%;
  border-radius: 3px;
  right: 10% !important;
}

.carousel-indicators li{
  border:3px solid #e20a17 !important;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  height: 580px !important;
  z-index: 9999;
}
.carousel-caption {
  font-weight: 600 !important;
  font-size: 20px !important;
  text-shadow: 0 1px 2px #000 !important;
}

.navbar-nav > li > .dropdown-menu{
  background: RGBA(0, 0, 0, 0.65);;
  color: #fff;
}

.dropdown-menu > li > a{
  color: #fff !important;
}

.dropdown-menu > li > a:hover{
  background: inherit !important;
  color: #E20A17 !important;
  }

#about{
  width: 100%;
  height: auto;
  top:0;
  left:0;
  z-index: -1;
}
.about-main{
  background: #ececec;
  text-align: -webkit-center;
  text-align: center;
  padding: 40px;
}
.about-main h1,h3{
  margin: 5px 0px 10px 0px !important;
}
.about-main h3 .index_topic{
  color: #E20A17;
  font-size: 17px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: solid 2px  #E20A17;
  border-bottom: solid 2px #E20A17;
  padding: 7px 0px 5px 4px;
}
.index_caption{
  font-size: 36px;
  line-height: 48px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
  color:#333;
}
.about-main p{
  font-size: 1.2em;
  margin: 0px auto;
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  width: 60%;
  line-height: 30px;
  padding: 20px 0px 40px 0px;
  letter-spacing: 1px;
}
.see{
  box-shadow: 0px 0px 0px 0px #333;
  letter-spacing: 3;
  color: #e20a17;
  letter-spacing: 3px;
}
.see_about{
  list-style-type: none;
  margin: 0px auto;
  width: 50%;
  padding: 0px;
}
.see_about li{
  display: inline;
}
.see_about li a{
  text-decoration: none;
  color: #000;
  margin: 0px 40px;
  border: 3px solid #fff;
  padding: 10px;
}
.see_about li a:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(72, 72, 72, 0.76);
  transition: 0.4s;
  border: 3px solid rgba(226, 10, 23, 0.15);
}
.btn-default{
  margin: 0px 2.8em;
  padding: 10px 25px !important;
  background: inherit !important;
  border: 1px solid #e20a17 !important;
  font-weight: 600 !important;
  color: #333 !important;
}
.btn-default:hover{
  background: rgba(226, 10, 23, 0.5) !important;
  color: #fff !important;
  text-shadow: 0px 0px 1px #000;
  transition: 0.3s;
  border: 1px solid #fff !important;
}
.services{
 text-align: -webkit-center;
  text-align: center;
  padding: 3% 0% 5% 0%;	
  margin-bottom: 3%;
}

.services h3{
  margin-bottom: 5em !important;
}
.services h3 .index_topic{
  color: #E20A17;
  font-size: 17px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: solid 2px  #E20A17;
  border-bottom: solid 2px #E20A17;
  padding: 7px 0px 5px 4px;

}

.service-default{
  text-align: center;
  padding: 1% 5%;
  margin-left:25px;
}

.service-default i{
  padding: 20%;
  border-radius: 50%;
  color: #fff;
  font-size: 6em;
  box-shadow: 5px 2px 13px 0px #333;
}

.service-default i:hover{
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.service-default h4{
  font-size: 1.9em;
  margin-top: 0.5em;
}

.service-default h4 span{
  text-shadow: 1px 0px 0px #333;
}

.ch-item {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  box-shadow: 5px 2px 13px 0px #333;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
   color: #fff;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
 /* box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);*/
}

.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background:#e20a17;
  opacity: 0;

}

.ch-img-1 { 
  background: #663366;
  border: 1px solid #663366;
}

.ch-info-front i{
font-size: 6em;
margin-top: 29%;
}

.ch-info-front h4{
font-size: 2em;
margin-top: 2em;
color: #000;
}

.ch-info-front h4 span{
  text-shadow: 1px 0px 2px #333;
}
.ch-img-2 { 
    background: #669933;
  border: 1px solid #669933;
}

.ch-img-3 { 
  background: #E47F25;
  border: 1px solid #E47F25;
  padding:2% 0% 1% 5%;
}

.ch-img-4 { 
  background: #0099CC;
  border: 1px solid #0099CC;
  padding:3% 6% 0% 10%;
}

.ch-img-5 { 
    background: #FF6600;
  border: 1px solid #FF6600;
  padding: 0% 6% 0% 6%;
}

.ch-info-back i{
  margin-top: 2.4em;
  font-size: 2em;
}

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff;
  }

.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}

.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}


.works{
  background: #ececec;
  text-align: center;
  padding: 40px 20px !important;
}
.works h3{
  margin-bottom: 4em !important;
}
.works h3 .index_topic{
  color: #E20A17;
  font-size: 17px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: solid 2px  #E20A17;
  border-bottom: solid 2px #E20A17;
  padding: 7px 0px 5px 4px;
  margin-bottom: 2em;
}
.works ul{
  padding: 0;
  list-style: none;
}

.works ul li{
  display: inline-table;
  margin: 0% 1% 5% 1%;
  position: relative;
  width: 20%;
}
.works ul li a{
  text-decoration: none;
}
.works ul li a img{
  height: 210px;
  border: 1px solid #E30A18;
}

.works .caption{
  text-align: center;
  color: #000;
  width: 100%;
}

.works .caption h4{
  font-size: 2em;
  margin-bottom: 0.4em;
  text-shadow: 1px 0px 0px #333;
} 

.works .caption p{
  font-size: 1.2em;
} 

.our-work img{
  height: 250px; 
  width: 300px;  
  border: 1px solid #fff;
}
.our-work ul{
  list-style-type: none;
  padding: 0px !important;
}
.our-work ul li{
  display: inline-block;
}
.wrapper{
  position:relative;
}  
.desc{
  position:absolute;
  left:0px;
  display:none; 
  font-size:15px;  
  color:white;  
  -webkit-transition: all 0.2s ease; 
  -moz-transition: all 0.2s ease; 
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}  
.desc_content{
  padding: 10px;
  margin-top: -250px;
  box-shadow: 0px 0px 25px 0px #fff inset;
  opacity: 1;
  background: #e20a17;
  height: 250px;
  width: 100%;
  box-sizing:border-box;
}  
.desc_content h3{
  margin: 75px auto !important;
  text-align: center;
  text-shadow: 0 1px 2px #000 !important;
}
.desc_content a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  border:2px solid #fff;
  padding: 10px;
  -webkit-transition: all 0.4s ease-out; 
  -moz-transition: all 0.4s ease-out; 
  -ms-transition: all 0.4s ease-out; 
  transition: all 0.4s ease-out; 
}
.desc_content a:hover{
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.84);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.81);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.60);
}
.footer{
  background-image: url(../images/footer.png);
  background-repeat: repeat;
  color: #fff;
  padding: 25px 0px 0px 0px;
}
.foot-left {
	margin: 0px;
  padding: 0 !important;
}

.foot-left ul{
	margin-top: 13%;
	list-style-type: none;
  padding: 0 !important;
}

.foot-left ul li{
	display: inline;
}

.foot-left ul li a{
	padding: 4px;
	margin-left: 30px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 1px #000;
	-webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease; 
    -ms-transition: all 0.4s ease; 
     transition: all 0.4s ease; 

}
.foot-left ul li a:hover{
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom:2px solid #e20a17;
    border-radius: 5%;
    box-shadow: 0px 1px 1px 0px #ccc;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
     transition: all 0.3s ease;
}

.foot-center{
	text-align: center;
  line-height: 3em;
}

.foot-center i{
  font-size: 1.1em;
}


.foot-right{
	text-align: right;
	padding-right: 27px !important;
}

.foot-right ul{
  list-style: none;
  margin-top: 11%;
}

.foot-right ul li{
  display: inline-block;
}
.foot-right a{
	color: #fff !important;
	box-shadow: 0px 0px 1px 0px #ccc;
    text-decoration: none;
    margin: 6px;
    font-size: 20px;
    padding: 4px;
	-webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease; 
    -ms-transition: all 0.4s ease; 
     transition: all 0.4s ease;
}

.foot-right a:hover{
    color: rgba(255, 255, 255, 0.8) !important;
    border-bottom:2px solid #e20a17;
    border-radius: 5%;
    box-shadow: 0px 1px 1px 0px #ccc;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
     transition: all 0.3s ease;
}

.centered-left{
  padding-left: 18px !important;
}

.centered-center{
  text-align: center;
}

.centered-center i{
  margin-top: 5px;
}

.centered-right{
	color: #fff;
	text-align: right;
}
.centered-right a{
	text-align: center;
	 text-decoration: none;
	color: #9acd02 !important;
	padding: 4px;
}
.centered-right a:hover{
	text-decoration: none;
	border-bottom:2px solid #9acd02;
    border-radius: 5%;
      outline: 0;
    box-shadow: 0px 1px 1px 0px #ccc;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
     transition: all 0.3s ease;
}

.line hr{
	margin: 2px 0px 10px 0px;
  border: 1px dotted #ccc;
  box-shadow: 0px 0px 2px 0px rgba(226, 10, 23, 0.8);
  border: 1px solid #bfbdbd;
}
/*end of footer*/
/*start of about page*/

.index_topic{
	color: #E20A17;
	font-size: 17px;
    line-height: 19px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-top: solid 2px  #E20A17;
    border-bottom: solid 2px #E20A17;
    padding: 7px 0px 5px 4px;
}

.our-mission{
  padding: 1em 0em !important;
}

.description{
	margin: 0px auto;
	text-align: justify;
	text-align-last: center;
  -moz-text-align-last: center;
	width: 60%;
	line-height: 30px;
	padding: 20px 0px 40px 0px;
	letter-spacing: 1px;
}


.org-chart{
	text-align: center;
}


.org-chart img{
	
	height: 352px;
  margin-bottom: 40px;
}

.b-o-d{
	text-align: center;
	margin-bottom: 50px;
}

.b-o-d img{
	height: 220px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}


.bod-1  name h4{
	width: 73%;
margin-left: 41px;
margin-top: 1px;
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
padding: 10px 0px;
box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.bod-2  name h4{
	width: 73%;
margin-left: 41px;
margin-top: 1px;
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
padding: 10px 0px;
box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.bod-2  name h4{
	width: 73%;
margin-left: 41px;
margin-top: 1px;
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
padding: 10px 0px;
box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.bod-3  name h4{
	width: 73%;
margin-left: 41px;
margin-top: 1px;
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
padding: 10px 0px;
box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.bod-4  name h4{
	width: 73%;
margin-left: 41px;
margin-top: 1px;
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
padding: 10px 0px;
box-shadow: 0px 3px 23px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
/*end of about page*/
/*start of contact page*/
.index_topic{
	color: #E20A17;
	font-size: 17px;
    line-height: 19px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-top: solid 2px  #E20A17;
    border-bottom: solid 2px #E20A17;
    padding: 7px 0px 5px 4px;
}
.contact-us{
	padding:50px 50px 20px !important;
	background-image: url(../images/bg2.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.4) inset;
}
.company{
	font-size: 24px!important;
	text-transform: capitalize;
	text-shadow:0 1px 2px rgba(109, 109, 109, 0.68) !important;
}

.contact-info{
	text-align: center;
}
.contact-info tr{
	line-height: 2;
}
/*.contact-info tr td i{
	color: black;
}*/
.contact-info iframe{
	box-shadow: 1px 1px 10px 0px rgba(49, 49, 49, 0.42);
    padding: 5px;
    height: 310px;
}

.contact-feedback table{
	width: 100%;
}

.contact-feedback tr{
	line-height: 2;
}
.contact-feedback input, textarea{
	margin-bottom: 15px !important;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    margin: 5px 0px 5px 0px;
    display: block;
    height: 42px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: none;
    border: 1px solid rgba(226, 10, 23, 0.4) !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contact-feedback textarea{
	height: inherit;
	margin-top: 5px !important;
}

.contact-feedback textarea, input{
	width: 100% !important;
	padding:10px !important;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit !important;
}
.submit{
	width: 30% !important;
	border: 1px solid #e20a17 !important;
	margin: 5px auto !important;
}
.quote{
  font-size: 18px;
  width: 67%;
    font-weight: 200;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    margin: 5px 0px 0px 0px;
    text-shadow: 0px 1px 2px #333;
}
/*end of contact page*/
/*back to top*/
.go-top{
  border-radius: 2px;
  box-shadow: 2px 2px 2px 0px #333;
  position: fixed;
  transform: rotate(50deg);
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  z-index: 9999;
  border: 1px solid #e20a17;
  display: none;
}

.go-top i{
  color: #000;
    text-shadow: 0px 1px 0px #000;
    font-size: 20px;
    transform: rotate(-50deg) !important;
    padding: 5px;

}
.go-top:hover{
	background: #ea7e83;
    transform: rotate(-310deg) !important;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.go-top i:hover{
  color: #ffffff;
}

.active-link{
background: rgba(226, 10, 23, 0.5) !important;
color: #fff !important;
text-shadow: none !important;
transition: 0.3s;
border: 1px solid #fff !important;
}

.active-link{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}
.active-link:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  transform: translateY(10px);
   border-color: rgba(226, 10, 23, 0.5) transparent transparent transparent;
   margin-top: 10px;
}


.active:hover:before, .active:focus:before, .active:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
   border-color: rgba(226, 10, 23, 0.5) transparent transparent transparent;
}

img.mfp-img{
  height: 600px !important;
  margin:60px auto !important;
}


.modal-heading{
  color: #000;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;

}

.modal-picture{
  height: 460px;
  margin: 0px auto;
  margin-bottom: 10px;
}

.overview p{
  text-align: justify;
  text-align-last:center; 
  -moz-text-align-last:center; 
  color: #262626;
}

.challange p{
  text-align: justify;
  text-align-last:center; 
  -moz-text-align-last:center; 
  color: #262626;
}

.result p{
  text-align: justify;
  text-align-last:center; 
  -moz-text-align-last:center; 
  color: #262626;
}
.portfolio-more{
  padding:40px 0px; 
}

.portfolio-more ul{
  list-style: none;

}
.portfolio-more ul li{
  display: inline-block;
  padding-top: 4px;
}

.portfolio-more img{
  height: 178px;
}

.wrapper{  
        position:relative; 
    }  
  .descriptions{  
        position:absolute; 
        left:0px;  
        display:none; 
        background-color:black;  
        font-family: 'sans-serif';  
        font-size:15px;  
        color:white;  
    }  
  .description_content{  
  padding: 10px;
  margin-top: -178px;
  opacity: 1;
  background: #e20a17;
  height: 178px;
  width: 100%;
  text-align: center;
    }

    .description_content h3{
      margin: 40px auto !important;
      text-align: center;
      text-shadow: 0 1px 2px #000 !important;
    }
.description_content a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  border:2px solid #fff;
  padding: 10px;
  -webkit-transition: all 0.4s ease-out; 
  -moz-transition: all 0.4s ease-out; 
  -ms-transition: all 0.4s ease-out; 
  transition: all 0.4s ease-out; 
}
.description_content a:hover{
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.84);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.81);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.60);
}

.webui-popover .webui-popover-content{
  text-align: left;
}

.login-form-open{
  padding:5% 5% 0% 5%;
  border-radius: 4px;
}

.login-form-open input{
  color: #000;
  background-color: transparent;
  font-size: 13px;
border: none;
border-bottom: 1px solid #9e9e9e;
border-radius: 0;
outline: none;
width: 100%;
margin: 0 0 15px 0;
padding: 7px 1px !important;
box-shadow: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
transition: all .3s;
}

.signup{
color: red !important;
background-color: transparent !important;
font-size: 12px !important;
border: none !important;
border-radius: 0px !important;
width: 40% !important;
outline: none;
margin: 0 0 10px 0 !important;
padding: 0px !important;
box-shadow: none;
}
.signup:hover{
  color: rgba(255, 0, 0, 0.8) !important;
  box-shadow: 2px 2px 1px 0px #ccc;
}
.login-submit{
  font-size: 15px !important;
  letter-spacing: .5px;
  float: left;
  margin: 0px !important;
}

.material-icons{
  font-size: 13px !important;
}

/*Index Clients*/
#index-clients{
  background: #ececec;
}

.slide-image{
  padding: 40px 20px !important;
}

.slide-image h3{
  margin-bottom: 3em !important;  
}

.slide-image h3 .index_topic{
  color: #E20A17;
  font-size: 17px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: solid 2px  #E20A17;
  border-bottom: solid 2px #E20A17;
  padding: 7px 0px 5px 4px;
}

.slide-image{
  margin-bottom: 20px;
  text-align: center;
}
.slide-image li{
  float: left;
  margin: 0 10px;
  padding: 0;
  position: relative !important;
  text-align: center;
 }
.slide-image img{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
}

.slide-image p{
   padding: 15% 10% 15% 10%;
   font-weight: lighter;
   color: #000;
   font-size: 1.2em;
}
.slider-part .bx-wrapper{
      box-shadow: 0px 11px 59px -9px #222;
      width:100%;
      height: 550px;
}
.slide-image .bx-wrapper{
  max-width:100% !important;
}
.slide-image li{
  list-style: none;
  text-align: center;
}

.slide-image ul li a{
  text-decoration: none;
}

.slide-image .bx-wrapper .bx-viewport{
  box-shadow: 0px 0px !important;
  height: 150px !important;
}

.bx-wrapper .bx-viewport{
  background: none !important;
  border:none !important;
}
/*Index Clients*/
/*clients next page*/
.clients-wrapper{
  padding: 2% 3% 2% 3% !important;
  text-align: center;
}
.clients-wrapper h3{
  margin-bottom: 2em !important;
}
.clients-wrapper h3 .index_topic{
  color: #E20A17;
  font-size: 17px;
  line-height: 19px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: solid 2px  #E20A17;
  border-bottom: solid 2px #E20A17;
  padding: 7px 0px 5px 4px;

}

.clients{
  padding: 0 !important;
  /*padding: 2% 0% 2% 0% !important;*/
  height: auto;
  position: relative;
  overflow: hidden;
  background: #dcdcdc;
  margin: 0% 4% 4% 4%;
}



.clients-image{
  padding: 3% 3% 3% 3%;
 /* position: relative;*/
  transition:ease-in-out 0.3s;
  -webkit-transition:ease-in-out 0.3s;
  -moz-transition:ease-in-out 0.3s;
  -o-transition:ease-in-out 0.3s;
  z-index: -9999;
}

.clients-image img{
  height: 200px;
  padding: 15% 15% 15% 15%;
 -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.clients-caption{
  z-index: 9999;
  position: relative;
  background: #fff;
  transition:ease-in-out 0.3s;
  -webkit-transition:ease-in-out 0.3s;
  -moz-transition:ease-in-out 0.3s;
  -o-transition:ease-in-out 0.3s;
}
.clients-caption i{
  margin: 10px 0px 10px 0px;
  font-size: 2em;
  color:#bfbfbf;
  }

.clients-caption h3{
  color: #bfbfbf;
  font-size: 1.6em;
  margin-bottom:5px !important; 
 }

.clients a:hover{
  text-decoration: none;
}

.clients a:hover .clients-caption{
  margin-top:-4em;
  background: #fff;
  overflow: hidden;
  
}

.clients a:hover .clients-caption h3{
  color: #000;
}

.clients a:hover .clients-image{
  z-index: -1 !important;
  background:#737373;
  /*-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);*/
}

.clients a:hover .clients-image img{
  z-index: -1 !important;
}
/*clients next page*/
/*index page testimonial and number of works*/
.total-work{
  text-align: center;
  padding: 2% 0% 0% 4% !important;
  position: absolute !important;
}

.total-work i{
  font-size: 4em;
  color: #fff;
  font-weight: lighter;
}
.total-work p{
  font-size: 2em;
  color: #fff;
}
.heading-wrapper{
  position: relative;
}
.total-work h4{
  font-size: 2em;
  margin: 5px 0px 5px 0px;
  color: #fff;
  color: #fff;
  font-weight: lighter;
}

.total-work h4:after{
  content: '';
  position: absolute;
  left: 43%;
  bottom: -15px;
  width: 50px;
  height: 3px;
  background: #e20a17;
}
.testimonials{
  padding:3% 10% 0% 0%;
  background: #ececec;
}

.testimonials h3{
  margin-bottom: 3em !important;
}
.testimonial-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonials-wrapper {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

.testimonials-wrapper h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  padding: 30px;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.70);
  box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
  border-radius: 100%
}

.testimonials-img {
  position: relative;
  left: 50%;
  overflow: hidden!important;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: -50px;
  box-shadow: 0 0 0 2px #e20a17;
  transition: all ease-out .5s;
  transform: translateY(-30%);
  filter: brightness(2)
}

.testimonial-carousel .active .testimonials-img {
  transform: translateY(0);
  filter: brightness(1)
}

.testimonials-person-info {
  text-align: center;
  color: #000;
}

.testimonials-blob {
  position: relative;
  left: 80%;
  width: 3px;
  height: 3px;
  transform: rotate(45deg)
}

@keyframes anim {
  0% {
    opacity: 0;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
  }
  50% {
    box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
  }
  100% {
    opacity: 1;
    background: #fff;
    box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
  }
}

.testimonial-carousel .active .testimonials-blob {
  transform-origin: 50% 50%;
  animation: anim linear .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

.testimonial-carousel {
  overflow: hidden;
  cursor: grab
}

.testimonial-carousel:active {
  cursor: grabbing
}

.testimonial-carousel .owl-item {
  overflow: hidden;
  transition: all ease-out .3s;
  transform: scale(.7);
  opacity: 0
}

.testimonial-carousel .owl-item.active {
  transform: scale(1);
  opacity: 1
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  top: 40%;
  padding: 5px 10px;
  transition: all ease-out .25s;
  transform: translateY(-100%);
  opacity: 1;
  color: #fff;
  border-radius: 3px;
  background: #171719
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
  color: #fff;
  background: #615e6b
}

.testimonial-carousel .owl-prev {
  left: 0
}

.testimonial-carousel .owl-next {
  right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
  opacity: 0
}

/*end index page testimonial and number of works*/
.experience-slider{
  padding: 0 !important;
  position: relative;
  margin-bottom: -15px;
}

.experience-slider .bx-wrapper{
  max-width: 1300px !important;
  top: -15px;
  margin: 0 !important;
}

.experience-slider .bx-wrapper .bx-viewport{
  box-shadow: none !important;
  overflow: visible !important;
}

.experience-slider .bx-wrapper img{
  height: 200px;
}

.overlay{
  background:RGBA(0, 0, 0, 0.46);
  position: absolute !important;
  height: 200px;
  padding: 0 !important;
}